progress {
    appearance: none;
    -webkit-appearance: none;
}
progress::-webkit-progress-bar{
    background-color: rgb(241, 206, 213);
    border-radius: 3px;
}

progress::-webkit-progress-value{
    background-color: crimson;
    border-radius: 3px;
}